
.jumbotron-fluid {
    background-image: url("../img/bg.jpg");
    margin-bottom: 40px;
    background-size: cover; 
    height: 700px;
    
}

.row-navbar {
  margin-bottom: 50px;
}
.full-width {
    width: 100%;
    background: white;
}
  .title_text {
    max-width: 30em;
    margin: 0 auto;
    font-size: 200%;
    text-align: center;
  }
  .subtitle_text {
    max-width: 30em;
    margin: 0 auto;
    font-size: 150%;
    text-align: center;
  }
.row-sub {
  padding-top: 30px;
}
.navbar {
    padding-left: 30px;
}

body{
    background: #BDBDBD;
}
html {
    box-sizing: border-box;
}
.inicio {
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
width: 100%;
}
.cajacontacto {
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
width: 50%;
background-color: gainsboro;
}