<!-- Edited by Jack -->
<div class="container1">
    <h1 class="full-width">
      <div class="title_text">One Page Wonder</div>
    </h1>
    <h2 class="full-width">
      <div class="subtitle_text">Will Knock Your Socks Off</div>
    </h2>
</div>
<!-- Edited by Unknow -->
<div class="d-flex">
    <div class="col-6">
        <h1><strong>This first heading </strong>Will catch your eyes</h1>
        <p>This is just some random text. This is just some random text. This is just some random text. This is just
            some random text. </p>
    </div>
    <div class="col-4">
        <img src="/website/assets/img/1.jpg" class="rounded-circle float-right w-75">
    </div>
</div>
